[submodule "lib/baal"]
	path = lib/baal
	url = https://github.com/hausDAO/baal
[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/hats-module"]
	path = lib/hats-module
	url = https://github.com/hats-protocol/hats-module
[submodule "lib/multi-claims-hatter"]
	path = lib/multi-claims-hatter
	url = https://github.com/hats-protocol/multi-claims-hatter
[submodule "lib/solady"]
	path = lib/solady
	url = https://github.com/vectorized/solady
